<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>ZIDIO-Connect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>StudentRegister</servlet-name>
    <servlet-class>students.StudentrgisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRegister</servlet-name>
    <url-pattern>/student-register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentLogin</servlet-name>
    <servlet-class>studentlogin.StudentloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLogin</servlet-name>
    <url-pattern>/student-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumeuploadServlet</display-name>
    <servlet-name>ResumeuploadServlet</servlet-name>
    <servlet-class>resumeupload.ResumeuploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumeuploadServlet</servlet-name>
    <url-pattern>/ResumeuploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecuiterregisterServlet</display-name>
    <servlet-name>RecuiterregisterServlet</servlet-name>
    <servlet-class>recruiterregister.RecuiterregisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecuiterregisterServlet</servlet-name>
    <url-pattern>/RecuiterregisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruiterloginServlet</display-name>
    <servlet-name>RecruiterloginServlet</servlet-name>
    <servlet-class>recruiterlogin.RecruiterloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterloginServlet</servlet-name>
    <url-pattern>/RecruiterloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminloginServlet</display-name>
    <servlet-name>AdminloginServlet</servlet-name>
    <servlet-class>adminlogin.AdminloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminloginServlet</servlet-name>
    <url-pattern>/AdminloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumepathServlet</display-name>
    <servlet-name>ResumepathServlet</servlet-name>
    <servlet-class>resumepath.ResumepathServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumepathServlet</servlet-name>
    <url-pattern>/ResumepathServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecruiterjobServlet</display-name>
    <servlet-name>RecruiterjobServlet</servlet-name>
    <servlet-class>recruiterjob.RecruiterjobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecruiterjobServlet</servlet-name>
    <url-pattern>/RecruiterjobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobmoderationServlet</display-name>
    <servlet-name>JobmoderationServlet</servlet-name>
    <servlet-class>jobmoderation.JobmoderationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobmoderationServlet</servlet-name>
    <url-pattern>/JobmoderationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobapprovalServlet</display-name>
    <servlet-name>JobapprovalServlet</servlet-name>
    <servlet-class>jobapprove.JobapprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobapprovalServlet</servlet-name>
    <url-pattern>/JobapprovalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetapplicationServlet</display-name>
    <servlet-name>GetapplicationServlet</servlet-name>
    <servlet-class>getapplication.GetapplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetapplicationServlet</servlet-name>
    <url-pattern>/GetapplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobpostServlet</display-name>
    <servlet-name>JobpostServlet</servlet-name>
    <servlet-class>jobpost.JobpostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobpostServlet</servlet-name>
    <url-pattern>/JobpostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetapprovedjobServlet</display-name>
    <servlet-name>GetapprovedjobServlet</servlet-name>
    <servlet-class>getapproved.GetapprovedjobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetapprovedjobServlet</servlet-name>
    <url-pattern>/GetapprovedjobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentapplicationServlet</display-name>
    <servlet-name>StudentapplicationServlet</servlet-name>
    <servlet-class>application.StudentapplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentapplicationServlet</servlet-name>
    <url-pattern>/StudentapplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewapplicationServlet</display-name>
    <servlet-name>ViewapplicationServlet</servlet-name>
    <servlet-class>viewapplication.ViewapplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewapplicationServlet</servlet-name>
    <url-pattern>/ViewapplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateapplicationServlet</display-name>
    <servlet-name>UpdateapplicationServlet</servlet-name>
    <servlet-class>updateapplication.UpdateapplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateapplicationServlet</servlet-name>
    <url-pattern>/UpdateapplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetpendingjobServlet</display-name>
    <servlet-name>GetpendingjobServlet</servlet-name>
    <servlet-class>getpendingjob.GetpendingjobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetpendingjobServlet</servlet-name>
    <url-pattern>/GetpendingjobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectjobServlet</display-name>
    <servlet-name>RejectjobServlet</servlet-name>
    <servlet-class>rejectjob.RejectjobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectjobServlet</servlet-name>
    <url-pattern>/RejectjobServlet</url-pattern>
  </servlet-mapping>
</web-app>